body {
  --grey-0: #ffffff;
  --grey-05: #f9f9f9;
  --grey-10: #e1e1e1;
  --grey-20: #bebebe;
  --grey-40: #9d9d9d;
  --grey-60: #696969;
  --grey-80: #494949;
  --grey-100: #181818;
  --bg: #fff;
  --sp-xs: 0.5rem;
  --sp-s: 0.75rem;
  --sp-base: 1rem;
}

@media (prefers-color-scheme: dark) {
  body {
    --grey-100: #ffffff;
    --grey-80: #cccccc;
    --grey-60: #a1a1a1;
    --grey-40: #737373;
    --grey-20: #5b5b5b;
    --grey-10: #363636;
    --grey-05: #1c1c1c;
    --grey-0: #181818;
    --bg: rgb(44, 44, 44);
  }
}

body {
  background-color: var(--bg);
  color: var(--grey-100);
  /*background-color: var(--figma-color-bg);*/
  /*color: var(--figma-color-text);*/
}

.container {
  padding: 4.5rem var(--sp-base);
}

.divider{
  background-color: var(--grey-20);
  display: block;
  width: 1px;
  margin: 0 4px;
}

hr {
  background-color: var(--grey-20);
  margin: 0;
}

/*------------------------------*/
.table {
  width: 100%;
  border-collapse: collapse;
  border: none;
}
.table thead {
  width: 100%;
  padding: 0.5rem;
  font-weight: normal;
  text-align: left;
}

.table tr {
  width: 100%;
  padding: var(--sp-xs) 0;
}

.table tbody tr:nth-of-type(odd) {
  background: var(--grey-05);
}
.table td {
  border: 1px solid var(--grey-10);
  /*padding: 0 var(--sp-xs);*/
}
.table th {
  border: 1px solid var(--grey-10);
}

/*------------------------------*/

.sticky {
  position: fixed;
  z-index: 100;
  left: 0;
  width: 100%;
  background-color: var(--bg);
}

.pointer-none {
  pointer-events: none;
}

.gap-1 {
  gap: var(--sp-xs);
}

.top-0 {
  top: 0;
}

.bottom-0 {
  bottom: 0;
}

.border-bottom-grey-10 {
  border-bottom: 1px solid var(--grey-10);
}

.border-top-grey-10 {
  border-top: 1px solid var(--grey-10);
}

.text--grey-100 {
  color: var(--grey-100);
}

.flex-between {
  display: flex;
  align-items: center;
  gap: var(--sp-xs);
  justify-content: flex-start;
}

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
}

[data-tooltip] {
  position: relative;
  text-decoration: underline;
  text-decoration-style: dotted;
}

[data-tooltip]::before {
  background: var(--grey-05);
  border: 1px solid var(--grey-10);
  bottom: 3em;
  color: black;
  content: attr(data-tooltip);
  display: inline-block;
  font-size: 1em;
  letter-spacing: 0.1px;
  max-width: 50ch;
  min-width: 40ch;
  opacity: 0;
  overflow: hidden;
  padding: 1em;
  pointer-events: none;
  position: absolute;
  text-indent: 0;
  transition: 0.1s;
}

[data-tooltip]:hover::before {
  opacity: 1;
}

/*---------------------*/

.italics {
  font-style: italic;
}

.color--grey-60 {
  color: var(--grey-60);
}

.l-grid {
  display: grid;
  align-items: center;
}

/* ------------ overwrites --------------- */

.checkbox__label:before {
  min-width: 10px;
}

@media (prefers-color-scheme: dark) {
  body {
    --black8: var(--white8);
    --black2: var(--white2);
    --black3: #787878;
    --black4: var(--white4);
  }

  .disclosure__label:before {
    background-image: url('data:image/svg+xml;utf8,%3Csvg%20fill%3D%22none%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20width%3D%2216%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22m11%208-4-3v6z%22%20fill%3D%22%23FFF%22%2F%3E%3C%2Fsvg%3E') !important;
  }

  .icon-button:not(.icon-button--selected) {
    background-color: var(--grey-60);
    filter: invert();
  }
  .icon-button:not(.icon-button--selected):disabled {
    background-color: var(--grey-80);
  }
}
